<!DOCTYPE html>
<div class="ekart--header">
    <div class="ekart-bottom-bar">
        <div class="ekart">
            <a href="#">ekart</a>
        </div>
        <app-mainmenu></app-mainmenu>
        <div class="ekart-search-bar">
            <input type="text" class="ekart-search-box" placeholder="Search">
            <button class="ekart--search--btn">
                    <a href="#">
                    <lord-icon src="https://cdn.lordicon.com/wjyqkiew.json" trigger="hover" stroke="bold"
                        colors="primary:#121331,secondary:#7166ee" style="width: 40px; height: 40px">
                    </lord-icon>
                    </a>
                </button>
        </div>
    </div>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
